html, body {
    margin: 0;
    padding: 0;
    height: 100%;

}

#background {
    background: #000 url("/static/images/background.jpg") no-repeat right top;
    background-size: 100%;
    width: 100%;
    height: auto !important;
    min-height: 100%;
    color: #fff;
}

#login_form {
    background: #364571 10% 40%;
    padding: 1em;
    text-align: center;
    position: fixed;
    color: #cbcccd;
    font-family: sans-serif, arial;
    top: 50%;
    left: 50%;
    width: 30em;
    margin-top: -9em;
    margin-left: -15em;
    opacity: .7;
    border: 1px solid #4d63a1;
    box-shadow: 0px 0px 20px #4d63a1;
}