<div id="message_box">

{% if option == 0 or option == 1 %}
    {% if messages %}
        <form method="post" action="/delete/{% if option == 0 %}0{% else %}1{% endif %}">
        <input type="submit" name="delete" value="Usuń zaznaczone" />
        {%  if option != 1 %} <input type="submit" name="read" value="Oznacz jako przeczytane" /> {% endif %}


        {% for message in messages %}
            <p>
                <input type="checkbox" name="messages" value="{{ message['message_id'] }}" />

                {% if message['unread'] == 1 and option != 1 %}
                    <a href="/show/{{ message['message_id'] }}" class="message_list"><strong>{{ message['title'] }}</strong></a>
                {% else %}
                    <a href="/show/{{ message['message_id'] }}" class="message_list">{{ message['title'] }}</a>
                {% endif %}
    </p>
        {% endfor %}

        </form>
    {% else %}
        <p class="warning_message">Brak wiadomości.</p>
    {% endif %}
{% elif option == 2 %}
    {% include 'new_message.html' %}
{% elif option == 3 %}
    <p class="warning_message">Wysłano wiadomość</p>


{% endif %}


</div>